<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="/board.css" rel="stylesheet" />
  </head>
  <body>
    <form name="update" class="login-form" id="update-form" method="post">
      <h2>Update Member</h2>
      <div class="field">
        <label>User ID</label>
        <input type="text" id="userid" readonly />
      </div>
      <div class="field">
        <label>Password</label><input type="password" id="pwd" />
      </div>
      <div class="field">
        <label>Retype Pw</label><input type="password" id="pwd_check" />
      </div>
      <div class="field">
        <label>name</label><input type="text" id="name" />
      </div>
      <div class="field">
        <label>Email</label><input type="text" id="email" />
      </div>
      <div class="field">
        <label>Phone</label><input type="text" id="phone" />
      </div>
      <div class="login-button">
        <input type="submit" class="btn-login" value="Update" />
        <input
          type="button"
          class="btn-login"
          value="Back"
          onClick="location.href='/boards/boardList'"
        />
      </div>
    </form>
    <script>
      getUserInfo();

      async function getUserInfo() {
        try {
          const result = await axios.get("/loginUser"); // 요청 url
          const loginUser = result.data; // 변수
          document.getElementById("userid").value = loginUser.userid;
          document.getElementById("name").value = loginUser.name;
          document.getElementById("email").value = loginUser.email;
          document.getElementById("phone").value = loginUser.phone;
        } catch (err) {
          console.error(err);
        }
      }
      document
        .getElementById("update-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const userid = e.target.userid.value;
          const pwd = e.target.pwd.value;
          const pwd_chk = e.target.pwd_check.value;
          const name = e.target.name.value;
          const email = e.target.email.value;
          const phone = e.target.phone.value;

          if (!pwd) {
            return alert("비밀번호 입력하셈!");
          }
          if (pwd != pwd_chk) {
            return alert("비밀번호 확인 다시 하셈!");
          }
          if (!name) {
            return alert("이름 입력하셈!");
          }
          if (!email) {
            return alert("이메일 입력하셈!");
          }
          if (!phone) {
            return alert("전화번호 입력하셈!");
          }
          try {
            await axios.post("/members/update", {
              userid,
              pwd,
              name,
              email,
              phone,
            });
            location.href = "/boards/boardList";
          } catch (err) {}
        });
    </script>
  </body>
</html>
